<div class="product">
  <div id="product-photo">
    <img src="<?php echo CLIENT_P_DIR.$book["image"]; ?>" alt="">
  </div>
  <div id="product-description">
    <h1><a href="/product/<?php echo $book["book_id"] ?>"><?php echo $book["name"]; ?></a></h1>
    <ul>
      <li><strong>Автор:</strong> <?php echo $book["author"]; ?></li>
      <li><strong>Цена:</strong> <?php echo $book["price"]." ".CURRENCY ?></li>
      <li><br /></li>
      <li><strong>Количество:</strong></li>
      <li>
        <div id="product-count">
          <div id="minus" onclick="minus(this);"></div>
          <div id="plus" onclick="plus(this);"></div>
          <div id="count">
            <input type="text" name="count" value="<?php echo $book["count"]; ?>">
          </div>
        </div>
      </li>
      <li><strong>Итого:</strong> <?php echo $book["total_sum"]." ".CURRENCY; ?></li>
    </ul>
  </div>
  <div id="product-control">
    <input type="hidden" name="book_id" value="<?php echo $book["book_id"]; ?>">
    <input type="hidden" name="item_id" value="<?php echo $book["item_id"]; ?>">
    <input type="button" name="product-delete" onclick="<?php echo !$isNoDB ? "removeFromCart(this)" : "removeFromNoDBCart(this)"; ?>;">
  </div>
</div>
