<tr>
  <td><?php echo $ib["id"]; ?></td>
  <td><?php echo $ib["title"]; ?></td>
  <td><?php echo $ib["access_level"]; ?></td>
  <td>
    <div class="t-row-control">
      <form action="" method="post">
        <input type="hidden" name="form_name" value="control_info_blocks">
        <input type="hidden" name="item_id" value="<?php echo $ib["id"]; ?>">
        <input type="submit" name="action" value="edit_row">
        <input type="submit" name="action" value="delete_row">
      </form>
    </div>
  </td>
</tr>
