<div id="product">
  <div id="product-photo">
    <img src="<?php echo CLIENT_P_DIR.$book["image"] ?>" alt="">
  </div>
  <div id="product-description">
    <div id="book-name">
      <a href="/product/<?php echo $book["id"] ?>"><?php echo $book["name"] ?></a>
    </div>
    <p><?php echo $book["author"] ?></p>
    <p class="price"><?php echo $book["price"]." ".CURRENCY ?></p>
    <form action="" method="post" class="add-to-basket">
      <input type="hidden" name="form_name" value="add_to_cart">
      <input type="hidden" name="item_id" value="<?php echo $book["id"] ?>">
      <input type="button" value="" onclick="addToCart(this);">
    </form>
  </div>
</div>
