<div id="control-blocks">
  <div id="control-users" class="control-block">
    <a href="/control/users/">Пользователи</a>
  </div>
  <div id="control-books" class="control-block">
    <a href="/control/products">Товары</a>
  </div>
  <div id="control-orders" class="control-block">
    <a href="/control/orders">Заказы</a>
  </div>
  <div id="control-info-blocks" class="control-block">
    <a href="/control/info-blocks">Инфо-блоки</a>
  </div>
  <!--<div id="control-genres" class="control-block">
    <a href="/control/info-blocks">Жанры</a>
  </div>-->
</div>
