<div id="management-of-info-blocks">
  <div id="management-head">
    <div id="management-search">
      <form action="" method="post" class="search-form">
        <input type="hidden" name="form_name" value="control_orders">
        <label for="search-string">Поиск по заказам:</label>
        <input type="text" name="search-string" placeholder="Фамилия, имя или e-mail заказчика" autocomplete="off" value="<?php if (isset($searched_string)) echo $searched_string; ?>">
        <input type="submit" name="action" value="search_item">
      </form>
    </div>
    <div id="management-control">
      <form action="" method="post">
        <input type="hidden" name="form_name" value="control_orders">
        <select name="select-order-status" onchange="goToPageByOrderStatus();">
          <option value="0">Все заказы</option>
          <option value="1" class="o-status-option-1">Ожидают подтверждения</option>
          <option value="2" class="o-status-option-2">Укомплектованные</option>
          <option value="2" class="o-status-option-3">Заказы в пути</option>
          <option value="2" class="o-status-option-4">Выполненные заказы</option>
          <option value="2" class="o-status-option-5">Отмененные заказы</option>
        </select>
        <input type="submit" name="remove_all" value="Удалить все">
      </form>
    </div>
  </div>
  <div id="management-body">
    <table class="control-table">
      <tr>
        <th>ID</th>
        <th>ФИ заказчика</th>
        <th>Сумма</th>
        <th>Статус</th>
        <th>Оформлен</th>
        <th></th>
      </tr>
      <?php echo $list; ?>
    </table>
    <?php echo $pages_navigation; ?>
  </div>
</div>
