<div id="edit-order">
  <div id="two-indetical-blocks">
    <div class="order o-status-1 small-order block">
      <div class="order-info">
        <h2>ЗАКАЗ №56078</h2>
        <ul>
          <li><strong>Количество товаров:</strong> 55</li>
          <li><strong>Стоимость заказа:</strong> 14 873 BYR</li>
          <li><strong>Дата оформления:</strong> 23.10.2018</li>
          <li><strong>Доставка:</strong> 25.10.2018 в 14:00-16:00</li>
          <li><strong>Способ доставки:</strong> курьерская доставка.</li>
          <li><strong>Метод оплаты:</strong> наличными.</li>
          <li><strong>Статус:</strong> ожидает подтверждения.</li>
        </ul>
      </div>
      <div class="order-control-panel">
        <ul>
          <li class="status-1" title="Ожидает подтверждения"></li>
          <li class="status-2" title="Укомплектован"></li>
          <li class="status-3" title="Заказ в пути"></li>
          <li class="status-4" title="Выполнен"></li>
          <li class="status-5" title="Отменен"></li>
        </ul>
        <input type="button" class="green-btn" value="Сохранить изменения">
      </div>
    </div>
    <div class="customer-info block">
      <h2>ИНФОРМАЦИЯ О ЗАКАЗЧИКЕ</h2>
      <ul>
        <li><strong>Статус:</strong> зарегистрирован.</li>
        <li><strong>Имя, фимилия:</strong> Кирилл Савицкий</li>
        <li><strong>Пол:</strong> мужской</li>
        <li><strong>Телефон:</strong> +375448432245</li>
        <li><strong>E-mail:</strong> kirilsavitskyi@mail.com</li>
      </ul>
      <h2>ДАННЫЕ ДЛЯ ДОСТАВКИ</h2>
      <ul>
        <li><strong>Область:</strong> Минская</li>
        <li><strong>Город:</strong> Солигорск</li>
        <li><strong>Адрес:</strong> ул. Хлебова, д.35</li>
        <li><strong>Индекс:</strong> 231117</li>
      </ul>
    </div>
  </div>
  <div id="products-in-order">
    <?php echo $book_list; ?>
  </div>
</div>
