<div id="my-contacts">
  <div id="personal-data" class="rect">
    <h2>Информация о товаре:</h2>
    <form action="" method="post" id="book_editor_form" enctype="multipart/form-data">
      <input type="hidden" name="item_id" value="<?php echo $book["id"]; ?>">
      <div class="form-2-blocks">
        <div class="one-block">
          <img src="<?php echo CLIENT_VIEW_DIR."products/".$book["image"]; ?>" id="book-photo" alt="">
          <input type="file" id="upload_photo" name="upload_photo" class="hidden">
          <input type="button" name="load_photo" value="Загрузить" onclick="$('#upload_photo').click();">
        </div>
        <div class="two-block">
          <div class="form-row">
            <label for="title">Название: <span>*</span></label>
            <div class="input">
              <input type="text" name="title" placeholder="Приключени фунтика" value="<?php echo $book["name"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="author">Автор: <span>*</span></label>
            <div class="input">
              <input type="text" name="author" placeholder="ФИО автора" value="<?php echo $book["author"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="genre_name">Жанр: <span>*</span></label>
            <div class="input">
              <select name="genre_code" id="">
                <?php echo $genre_select; ?>
              </select>
            </div>
          </div>
          <div class="form-row">
            <label for="language">Язык книги: <span>*</span></label>
            <div class="input">
              <input type="text" name="language" placeholder="Русский" value="<?php echo $book["language"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="keywords">Теги: <span>*</span></label>
            <div class="input">
              <input type="text" name="keywords" placeholder="Роман, приключения" value="<?php echo $book["keywords"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="series">Серии: <span>*</span></label>
            <div class="input">
              <input type="text" name="series" placeholder="Большой роман" value="<?php echo $book["series"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="rightholder">Правообладатель: <span>*</span></label>
            <div class="input">
              <input type="text" name="rightholder" placeholder="" value="<?php echo $book["rightholder"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="age_restrictions">Возрастные ограничения: <span>*</span></label>
            <div class="input">
              <input type="text" name="age_restrictions" placeholder="2+" value="<?php echo $book["age_restrictions"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="isbn">ISBN: <span>*</span></label>
            <div class="input">
              <input type="text" name="isbn" placeholder="823958293589" value="<?php echo $book["isbn"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="price">Цена: <span>*</span></label>
            <div class="input">
              <input type="text" name="price" placeholder="239" value="<?php echo $book["price"]; ?>">
            </div>
          </div>
          <div class="form-row">
            <label for="count">Количество: <span>*</span></label>
            <div class="input">
              <input type="text" name="count" placeholder="576" value="<?php echo $book["count"]; ?>">
            </div>
          </div>
        </div>
      </div>
      <div class="form-row textarea-fix">
        <label for="phone">Аннтоация/Описание: <span>*</span></label>
        <div class="input">
          <textarea name="annotation" rows="10" cols="80" placeholder="Содержание аннотации"><?php echo $book["annotation"]; ?></textarea>
        </div>
      </div>
    </form>
  </div>
  <div id="my-contacts-control" class="form-controls">
    <input type="button" name="save-changes" value="<?php echo $isEdit ? "Сохранить изменения" : "Добавить товар" ?>" class="green-btn" onclick="checkAndSendBookInfo(<?php echo $isEdit ? "true" : "false"; ?>)">
  </div>
</div>
