<div id="edit-order">
  <div id="two-indetical-blocks">
    <div class="order o-status-<?php echo $order["status"]; ?> small-order block">
      <div class="order-info">
        <h2>ЗАКАЗ №<?php echo $order["id"]; ?></h2>
        <ul>
          <li><strong>Количество товаров:</strong> <?php echo $order["books_of_count"]; ?></li>
          <li><strong>Стоимость заказа:</strong> <?php echo $order["total_price"]; ?> BYR</li>
          <li><strong>Дата оформления:</strong> <?php echo $order["date_of_issue"]; ?></li>
          <li><strong>Доставка:</strong> <?php echo $order["dilivery"]; ?></li>
          <li><strong>Способ доставки:</strong>  <?php echo $order["dilivery_method"]; ?>.</li>
          <li><strong>Метод оплаты:</strong>  <?php echo $order["payment_method"]; ?>.</li>
          <li><strong>Статус:</strong> <?php echo $order["status_name"]; ?>.</li>
        </ul>
      </div>
      <div class="order-control-panel">
        <ul>
          <li class="status-1" title="Ожидает подтверждения"></li>
          <li class="status-2" title="Укомплектован"></li>
          <li class="status-3" title="Заказ в пути"></li>
          <li class="status-4" title="Выполнен"></li>
          <li class="status-5" title="Отменен"></li>
        </ul>
        <input type="button" class="green-btn" value="Сохранить изменения">
      </div>
    </div>
    <div class="customer-info block">
      <h2>ИНФОРМАЦИЯ О ЗАКАЗЧИКЕ</h2>
      <ul>
        <li><strong>Статус:</strong> <?php echo $customer["status"]; ?>.</li>
        <li><strong>Имя, фимилия:</strong> <?php echo $customer["name"]; ?></li>
        <li><strong>Пол:</strong> <?php echo $customer["gender_name"]; ?></li>
        <li><strong>Телефон:</strong> <?php echo $customer["phone_number"]; ?></li>
        <li><strong>E-mail:</strong> <?php echo $customer["email"]; ?></li>
      </ul>
      <h2>ДАННЫЕ ДЛЯ ДОСТАВКИ</h2>
      <ul>
        <li><strong>Область:</strong> <?php echo $customer["state"]; ?></li>
        <li><strong>Город:</strong> <?php echo $customer["city"]; ?></li>
        <li><strong>Адрес:</strong> <?php echo $customer["address"]; ?></li>
        <li><strong>Индекс:</strong> <?php echo $customer["zip_code"]; ?></li>
      </ul>
    </div>
  </div>
  <div id="products-in-order">
    <?php echo $book_list; ?>
  </div>
</div>
